@media screen and (min-width: 1280px)
  $font-size-basic = 30px
  $font-size-extra = 50px
  $font-size-large = 50px
  $font-size-mid = 20px
  $font-size-small = 14px
  $font-size-tiny = 10px

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

  grid-maker(1200px)
